<h1>Visits#index</h1>

<div>
<% @visits.each do |visit| %>
   <p><%= show_patient(visit) %></p>
   <p>Date: <%= visit.date %></p>
   <p>Notes: <%= visit.notes %></p>
   <button>Accept patient</button><br>
   <button>To give recommendations</button>
   <p>____________________</p>
<% end %>
</div>
