<h1>Visit`s page</h1>
<p><%= @visit.patient.fullname %></p>
<p>To doctor: <%= @visit.doc_id %></p>
<p><%= @visit.date %></p>
<p><%= @visit.notes %></p>
<button>Accept patient</button><br>
<button>To give recommendations</button>